* {
  margin: 0;
  padding: 0;
  font-family: Ibarra Real Nova;
}
:root {
  --black: #000000d0;
  --white: #ffffff;
  --darkgrey: rgb(51, 51, 51);
  --red: #910d0d;
  --lightgray: #68655dd0;
  --whiteish: rgb(240, 235, 233);
}
[data-background="background"] {
  background-image: url("https://images.pexels.com/photos/924824/pexels-photo-924824.jpeg?cs=srgb&dl=pexels-jakub-novacek-924824.jpg&fm=jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  background-size: cover;
  position: absolute;
  background-attachment: fixed;
}
.dashBoard {
  background: var(--red);
  width: 100%;
  margin: 0%;

  padding: 10px 0px 10px 0px;
}
[data-textD="color"] {
  color: var(--white);
  text-align: center;
  font-size: 2em;
}
.container {
  background-color: var(--lightgray);
  padding: 2vh;
  margin: 2vh;
  height: 45vh;
  border-radius: 15px;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.card {
  background-color: var(--whiteish);
  height: 27vh;
  padding: 2em;
  margin-left: 2vh;
  margin-right: 2vh;
  margin-top: 0vh;
  margin-bottom: 5vh;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.titlebox {
  text-align: center;
  font-size: 2em;
  color: var(--black);
}
.divLi {
}
.divUl {
  margin-top: 1em;
  margin-bottom: 1em;
  overflow: auto;
}
.sdivUl {
  list-style: none;
}

.smallBoxes {
  display: flex;
  flex-direction: row;
  background-color: var(--lightgray);
  border-radius: 4px;
  height: 6vh;
  width: 30vh;
  margin: 0.5vh;
  overflow: scroll;
}

p {
  display: flex;
  align-items: center;
  font-size: 1.1em;
  margin-left: 1vh;
}
.underline {
  border: black solid 5px;
  border-width: 30%;
}
.name {
  margin-bottom: 2vh;
}
